[submodule "src/check"]
	path = src/check
	url = git://github.com/jbalogh/check.git
[submodule "src/django-haystack"]
	path = src/django-haystack
	url = git://github.com/toastdriven/django-haystack
[submodule "src/django-nose"]
	path = src/django-nose
	url = git://github.com/jbalogh/django-nose.git
[submodule "src/python-ecdsa"]
	path = src/python-ecdsa
	url = git://github.com/warner/python-ecdsa.git
[submodule "src/test-utils"]
	path = src/test-utils
	url = git://github.com/jbalogh/test-utils.git
[submodule "src/commonware"]
	path = src/commonware
	url = git://github.com/jsocol/commonware.git
[submodule "src/schematic"]
	path = src/schematic
	url = git://github.com/jbalogh/schematic.git
[submodule "src/pyes"]
	path = src/pyes
	url = git://github.com/aparo/pyes.git
