[submodule "src/check"]
	path = src/check
	url = git://github.com/jbalogh/check.git
[submodule "src/django-haystack"]
	path = src/django-haystack
	url = git://github.com/toastdriven/django-haystack
[submodule "src/django-nose"]
	path = src/django-nose
	url = git://github.com/jbalogh/django-nose.git
[submodule "src/python-ecdsa"]
	path = src/python-ecdsa
	url = git://github.com/warner/python-ecdsa.git
[submodule "src/test-utils"]
	path = src/test-utils
	url = git://github.com/jbalogh/test-utils.git
[submodule "src/commonware"]
	path = src/commonware
	url = git://github.com/jsocol/commonware.git
[submodule "src/schematic"]
	path = src/schematic
	url = git://github.com/jbalogh/schematic.git
[submodule "src/pyes"]
	path = src/pyes
	url = git://github.com/aparo/pyes.git
[submodule "src/nuggets"]
	path = src/nuggets
    url = git://github.com/mozilla/nuggets.git
[submodule "src/elasticutils"]
	path = src/elasticutils
	url = git://github.com/davedash/elasticutils.git

[submodule "src/statsd"]
	path = src/statsd
	url = git://github.com/jsocol/pystatsd.git
[submodule "src/django-extensions"]
	path = src/django-extensions
	url = git://github.com/django-extensions/django-extensions
[submodule "src/waffle"]
	path = src/waffle
	url = git://github.com/jsocol/django-waffle.git

[submodule "src/jingo"]
	path = src/jingo
	url = git://github.com/jbalogh/jingo.git
